<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts Manager</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/validation.js"></script>
</head>
<body>
    <h1>Contacts manager</h1>
    <section class="main">
        <div class="form-container">
            <form action="submit-form" method="post" onsubmit="return validateForm()">
                <div class="form-group">
                    <label for="firstname">First Name:</label>
                    <input type="text" class="error" name="first_name" placeholder="First name..." >
                    <span class="error-message" id="firstNameError"></span>
                </div>
                <div class="form-group">
                    <label for="lastname">Last Name:</label>
                    <input type="text" class="error" name="last_name" placeholder="Last name...">
                    <span class="error-message" id="lastNameError"></span>
                </div>  
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input class="error" type="email" name="email" placeholder="Email...">
                    <span class="error-message" id="emailError"></span>
                
                </div>  
                <div class="form-group">
                    <label for="phonenumber">Phone Number:</label>
                    <input type="text" class="error" name="phone_number" placeholder="Phone number...">
                    <span class="error-message" id="phoneNumberError"></span>  
                </div>  
                <div class="form-group">
                    <label for="address">Address:</label>
                    <textarea class="error" name="address" placeholder="Enter your address..."></textarea>
                    <span class="error-message" id="addressError"></span>
                </div>      
                <div class="form-group">
                   <button>Submit</button>
                </div> 
                <span class="error-message"><%= errorMessage %></span>                                                                     
            </form>
        </div>
    </section>
    <script src="/js/script.js"></script>
</body>
</html>